@import 'normalize.css';
@import 'icons.scss';

$column-width: 40rem;
$roundness: .25rem;

$secondary-colour: #eee;
$word-colour: #f3f3f3;

@mixin body-font {
	font-family: 'Rubik', serif;
	font-weight: 400;
}

@mixin display-font {
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 400;
}

#app {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include body-font();
}

#app > div {
	width: $column-width;
}

.word {
  display: grid;
  grid-template-columns: 2rem 50% 1fr;
  grid-template-rows: minmax(1.5rem, auto) 1fr;
  grid-template-areas: "icon key key" "main main trans";

  border: solid #333 1px;
  border-radius: $roundness;
  margin-top: .75rem;
  margin-bottom: .75rem;
//   padding: .25rem;
	overflow: hidden;

}

.word-icon {
	grid-area: icon;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: $word-colour;
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.word-key {
	grid-area: key;
	background: $word-colour;
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-right: .25rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	& .quick-info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
		justify-content: space-between;
		& > * {
			display: block;
		}
		& > .comment {
			font-style: italic;
		}
	}
	& > .comment {
		justify-self: flex-end;
	}
}

.word-main {
	grid-area: main;
	background-color: #f8f8f8;
	padding: .25rem;
}

.word-translations {
	grid-area: trans;
	background-color: #f8f8f8;
	padding: .25rem;
	& ul {
		padding-left: 1rem;
	}
}

.word-phonetic {
	padding-top: .25rem;
	& .title {
		font-weight: 700;
	}
}

nav {
	width: 100vw;
	height: 2rem;
	position: sticky;
	align-self: flex-start;
	top: 0;
	background: $secondary-colour;
	@include display-font();
	display: flex;
	flex-direction: row;
	align-items: center;
	& * {
		margin-left: 1rem;
	}
}

#search {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

#search-input {
	flex-grow: 1;
}

#search-submit {
	flex-grow: 0;
}

.def-word {
	color: black;
	& .separator {
		color: #666;
	}
}

.word-translations {
	& .title {
		font-weight: 700;
	}
	& ul {
		margin-top: .25rem;
		margin-bottom: .25rem;
		& > li > span:nth-child(2) {
			width: 100%;
			font-style: italic;
		}
	}
}

.word-definition {
	& .title {
		font-weight: 700;
	}
	& ul {
		margin-top: .25rem;
		margin-bottom: .25rem;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		list-style: none;
		& li.swe-bullet, & li.eng-bullet  {
			padding-left: 1rem;
			text-indent: -0.75rem;
		}
		& li.swe-bullet {
			&::before {
				content: '🇸🇪\00a0';
			}
		}
		& li.eng-bullet {
			&::before {
				content: '🇬🇧\00a0';
			}
		}
	}
}

#dictionary-reference {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: .25rem;
	margin-top: .5rem;
	& > span {
		width: 10rem;
	}
}

code {
	background-color: $secondary-colour;
	padding-left: .125rem;
	padding-right: .125rem;
	border-radius: .125rem;
}